
<div>

  <div style="margin-left: 60%;">
      <button  mat-raised-button color="grey"
      type="button"
      (click)="onGhinSyncClick()"
      >GHIN Sync</button>
      &nbsp;&nbsp;&nbsp;

      <button  mat-raised-button color="grey"
      type="button"
      (click)="onUpdateLast3()"
      >UpdateLast3</button>
      &nbsp;&nbsp;&nbsp;

     <button mat-raised-button color="grey"
    type="button"
    (click)="onAddUserClick()"
    >Add Player(+)</button>
  </div>



  <ag-grid-angular
  class="ag-theme-quartz"
  style="height: 1400px; width:90%"
  [defaultColDef]="defaultColDef"
  [rowData]="players"
  [columnDefs]="colDefs">
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  </ag-grid-angular>
</div>
