
<br>
<h1>Game Rules</h1>

<hr style="width:35%;text-align:center;">
<br><br>
<ul style="text-align:left">
  <li>
  Depending on the number of palyers, we split all the users into two team: red team nad blue team.
</li>

<li>
    On each tee players represent each team will play against each other. Normally there should be two players represent red team play against two players represent blue team.
  </li>

<li>
    The game rule is applied to each tee and the score for each tee is counted by the term high-low rule meaning that best score for red team against the best score of blue team.
  </li>

<li>
    If red team wins then it counts as 1 point for the red team. The same can be applied to the lower score of each team. If the one team's lower score is better than the other team's best score, add 1 point.
  </li>

<li>Each bird will add 1 point for the team.</li>
  <li>Each eagle will add 5 points and HIO will add 10 points.</li>
    <li>After the game is finsihed, all the red team's score will be summed up against the blue team's score and that will decide which team wins.</li>
</ul>


