<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <img cImg rounded src="/assets/logo5.jpg" height="60" />
    <span>&nbsp;&nbsp;&nbsp;十元赛俱乐部 - Ten Dollar Golf at Forsgate Country Club</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>Home</button>
    <!--
    <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>
    <mat-menu #lvl1master="matMenu">
        <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
        <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
    </mat-menu>

    <mat-menu #company="matMenu">
        <button mat-menu-item>Term</button>
        <button mat-menu-item>Tax</button>
        <button mat-menu-item>Currency</button>
    </mat-menu>
    <mat-menu #customer="matMenu">
        <button mat-menu-item>Type</button>
        <button mat-menu-item>Tax</button>
    </mat-menu>
    <mat-menu #product="matMenu">
        <button mat-menu-item>Category</button>
        <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
        <button mat-menu-item>UOM</button>
    </mat-menu>

    <mat-menu #variant="matMenu">
        <button mat-menu-item>Color</button>
        <button mat-menu-item>Size</button>
    </mat-menu>

    <button routerLink="input" mat-button>Input</button>
    <button routerLink="autocomplete" mat-button>Autocomplete</button>
    <a href="https://www.youtube.com/channel/UCsbmVmB_or8sVLLEq4XhE_A/join" mat-raised-button color="accent">Join Us</a>
    <button (click)="badgevisibility()"  mat-icon-button>
        <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>
    -->
    <a href="mailto:yanouone@gmail.com?subject=Request to join Ten Dollar Club" mat-raised-button color="accent">Join Us</a>&nbsp;&nbsp;
    <a href="http://localhost:8080/oauth2/authorization/cognito" mat-raised-button color="warn">Sign in</a>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>

        <mat-list-item>
            <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="player" mat-button><mat-icon>person_search</mat-icon> Players Profile</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="gameplan" mat-button><mat-icon>calendar_month</mat-icon> Plan a Game</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="gamerecord" mat-button><mat-icon>scoreboard</mat-icon> Record a Games</button>
        </mat-list-item>

        <mat-list-item>
            <button routerLink="statistics" mat-button><mat-icon>insights</mat-icon> Statistics & Analytics</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="donation" mat-button><mat-icon>attach_money</mat-icon> Donation</button>
      </mat-list-item>
        <mat-list-item>
            <button routerLink="gamerule" mat-button><mat-icon>menu_book</mat-icon> Game rules</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="aboutus"  mat-button><mat-icon>help</mat-icon> About Us</button>
        </mat-list-item>

    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 1000px;margin-left: 1%;">

            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-toolbar >

    <mat-toolbar-row>
      <h5 style="text-align: center;margin-left: 48%;">© Copyright - The New Jersey Ten Dollar Club @ ForsgateCC 2024.</h5>

    </mat-toolbar-row>



</mat-toolbar>
